{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farhod Ubaydullaev</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'ru' %}">Ru</a>
        <a class="navbar-brand" style="margin-right: 1250px;" href="{% url 'home' %}">En</a>
      </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/File_001.png' %}" alt="">
                    <hr>
                    <h4>Привет, я Фарход</h4>
                    <p>Я люблю кодировать, заниматься исследованиями и сотрудничать</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Мой путь к разработке на Python</h4>
                    <hr>
                    <p>Через 3 месяца после написания моей первой программы Hello World 9 сентября 2019 года (мечтая о собственном бизнесе) я услышал о компаниях SaaS (программное обеспечение как услуга), которые разрабатывают программное обеспечение для вашего бизнеса, но они были такими дорогими. Итак, я хотел создать систему ERP (планирование ресурсов предприятия) для своего бизнеса.
                    </p>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}" alt=""></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}" alt=""></li>
                        <li><img class="social" src="{% static 'images/youtube.png' %}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Мой опыт работы в качестве разработчика Python</h5>
                    <hr>
                    <p>В настоящее время есть несколько проектов специально для Системы управления бизнесом.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Что Я Знаю</h5>
                    <hr>
                    <p>Python, Django, Django Rest Framework, HTML/CSS</p>
                    <p>PS: Working on Mongo DB, MySql and Machine Learning</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Как Я изучаю</h5>
                    <hr>
                    <p>Обратный инженер и сначала создаю уродливые прототипы</p>
                    <p>Я могу узнать почти все, имея конечный продукт, чтобы разорвать его по кусочкам. Я взламываю код там, где мне нужно понять, почему все работает так, как оно работает. Документация-это просто справочник.</p>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>Мои краткосрочные цели</h5>
                    <hr>
                    <p>Почти после одного года изучения веб - технологий, таких как Python Django, DRF, HTML/CSS, я готов узнать что-то новое.</p>
                    <p>Помимо создания небольших проектов, я хотел бы войти в должность, где я могу быть частью более крупной команды и учиться у других людей с большим опытом, чем у меня самого.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>